@page "/"
@using grpcAuth
@inject AuthProvajder _auth
@inject NavigationManager _nm

<p><b>@_err</b></p>
<p><input @bind-value="_name" /></p>
<p><input @bind-value="_pass" /></p>
<p><button @onclick="Log">Log in</button></p>
<AuthorizeView>
	<Authorized>
		<b>Ulogovan</b>
		<button @onclick="Out">Log out</button>
	</Authorized>
	<NotAuthorized>
		<b>Nije ulogovan</b>
	</NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
	<Authorized>
		<b>Jeste admin</b>
	</Authorized>
	<NotAuthorized>
		<b>Nije admin</b>
	</NotAuthorized>
</AuthorizeView>
@code
{
	private string _name;
	private string _pass;
	private string _err = string.Empty;

	private async void Log()
	{
		_err = string.Empty;
		await _auth.Login(new RegistracijaMsg { Ime = _name, Pass = _pass });
		StateHasChanged();
	}
	private async void Out()
	{
		await _auth.Logout();
		_nm.NavigateTo("/", true);
	}
}
